body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #88b94dc4;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #000000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#display {
    color: #ccc;
  width: 300px;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: right;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.buttons {
    margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d6d6d6;
}

.zero {
  grid-column: span 2;
}
